
html{
    font-size: 62.5%;
}
body{
    line-height: 2;
    font-size: 1.6rem;
    background-color: grey;
}
#top{
    background-color: beige;
}
#top nav{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 3.5rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 5%;
}
.movement{
    margin: 0 5%;
    width: 35%;
    display: flex;
    justify-content: space-evenly;}

    .movement a{
        background-color: brown;
        color: whitesmoke;
        border: solid black 2px;
        text-decoration: none;
    }
    .movement a:hover{
        background-color: grey;
        color: black;
    }    

#middle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.joke img{
    width: 75%;
    height: 75%;
    margin: 2% 2%;
}
.joke p{
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
}
.basic{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.basic h2{
    font-size: 3.5rem;
}

#About{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.likes, .dislike, .haha{
    display: flex;
    flex-direction: column;
    width: 25%;
    border: white dotted 5px;
    padding: 0 2%;
}
.likes h3{
    font-size: 2.5rem;
}
.dislike h3{
    font-size: 2.5rem;
}
.haha h3{
    font-size: 2.5rem;
}


footer nav{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer h3{
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer a{
    background-color: crimson;
    border: solid black 2px;
    text-decoration: none;
    color: white;
}
footer a:hover{
    background-color: cyan;
    color: black;
}